.delBtn {
    width: 1.5em;
    height: 1.5em;
}

.myInput {
    height: 1.5em;
}

select {
    font-family: Arial, sans-serif;
    font-size: 1.1em !important;
    font-style: italic;
    height: 1.5em !important;
    border-radius: 10%;
}

.checkbox-1x {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.custom-control {
    background-color: dark;
}

/* Large desktop */